.avatar-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    h1 {
      white-space: nowrap;
    }
  }

  .pseudo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: stretch;
    gap: 0.5rem;
    background-color: var(--backgroundSecondary);
    font-size: 1.125rem;
    padding: 1rem;
    width: 100%;

    .item {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      justify-content: center;
    }
  }
}
