.container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  .form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .icon {
    margin-left: 0.25rem;
  }
}
