.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 0.5rem;
  max-width: 780px;
  width: 100%;
}

.icon {
  margin-left: 0.25rem;
}
