.role-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
  background-color: var(--backgroundMain);
  border: 3px solid var(--backgroundTertiary);
  border-radius: 8px;
  height: 100%;
  padding: 0.5rem;
  text-transform: capitalize;
  width: 100%;

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;

    .buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }

    .description {
      text-transform: none;
      width: 100%;
    }

    .advanceds {
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-weight: bold;
      list-style: disc inside;
    }

    span {
      -webkit-text-stroke: 0.075ch var(--fontMain);
      text-transform: uppercase;
      font-weight: bold;
    }

    .GOOD,
    .VILLAGER {
      color: var(--good);
    }

    .EVIL,
    .WEREWOLF {
      color: var(--evil);
    }

    .UNKNOWN,
    .SOLO {
      color: var(--unknown);
    }

    .RANDOM {
      color: var(--random);
    }
  }
}
