.reward-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--backgroundMain);
  border: 3px solid var(--backgroundTertiary);
  border-radius: 8px;
  height: 100%;
  padding: 1rem 0.5rem;
  width: 100%;

  .image {
    background-color: var(--backgroundSecondary);
    max-width: 150px;
    padding: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      font-weight: bold;
      text-transform: uppercase;
      -webkit-text-stroke: 0.075ch #000;
    }

    .AVATAR_ITEM {
      color: var(--rarityRare);
    }

    .EMOJI {
      color: var(--rarityLegendary);
    }

    .LOADING_SCREEN {
      color: var(--rarityEpic);
    }

    .free {
      color: var(--positive);
    }

    .not-free {
      color: var(--negative);
    }
  }
}
