.avatar-item-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  background-color: var(--backgroundMain);
  border: 3px solid var(--backgroundTertiary);
  border-radius: 8px;
  height: 100%;
  padding: 0.5rem;

  text-transform: capitalize;
  width: 100%;

  img {
    background-color: var(--backgroundSecondary);
    padding: 1rem;
  }

  .favorite {
    position: absolute;
    top: 0;
    right: 0;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  p {
    width: 100%;
  }

  span {
    -webkit-text-stroke: 0.1ch #000;
    text-transform: uppercase;
    font-weight: bold;
  }

  .id {
    text-transform: none;
  }

  .cost {
    .gold {
      color: var(--costInGold);
    }

    .roses {
      color: var(--costInRoses);
    }
  }

  .gender {
    .MALE {
      color: var(--genderMale);
    }

    .FEMALE {
      color: var(--genderFemale);
    }

    .NEUTRAL {
      color: var(--genderNeutral);
    }
  }

  .type > span {
    color: var(--itemType);
  }

  .rarity {
    .COMMON {
      color: var(--rarityCommon);
    }

    .RARE {
      color: var(--rarityRare);
    }

    .EPIC {
      color: var(--rarityEpic);
    }

    .LEGENDARY {
      color: var(--rarityLegendary);
    }
  }
}
