:root {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh;

  --brandMain: #fe6ab4;
  --fontMain: #000000;
  --fontSecondary: #ffffff;
  --backgroundMain: #ffffff;
  --backgroundSecondary: #efefef;
  --backgroundTertiary: #979797;
  --costInGold: #ff884b;
  --costInRoses: #ff1e00;
  --genderMale: #1c6dd0;
  --genderFemale: #ff78f0;
  --genderNeutral: #59ce8f;
  --rarityCommon: #ba704f;
  --rarityRare: #ce5959;
  --rarityEpic: #a31acb;
  --rarityLegendary: #e27802;
  --itemType: #59ce8f;
  --goodAura: #59ce8f;
  --evilAura: #ff1e00;
  --unknownAura: #ff884b;
  --randomAura: #a31acb;
  --positive: #59ce8f;
  --negative: #ff1e00;
}

:root[data-theme="dark"] {
  --brandMain: #333;
  --backgroundMain: #1a202c;
  --backgroundSecondary: #000;
  --fontMain: #fff;
  --fontSecondary: #1a202c;
}

:where(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

:where(:root, body, #root, #__next) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:where(body) {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:where(#__next > main) {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
}

*:focus-visible {
  outline: 2px solid var(--fontMain) !important;
}

:where(a) {
  text-decoration: none;
}

:where(ul) {
  list-style: none;
}

ol {
  padding-left: 1rem !important;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
:not(p) > :where(select, input, button, a) {
  line-height: 44px;
  min-height: 44px;
  min-width: 44px;
}

.sm-gap-flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sm-gap-flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.md-gap-flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.md-gap-flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
