:root {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 100vh;

  --brandMain: #fe6ab4;
  --fontMain: #000000;
  --fontSecondary: #ffffff;
  --backgroundMain: #ffffff;
  --backgroundSecondary: #efefef;
  --backgroundTertiary: #979797;
  --costInGold: #ff884b;
  --costInRoses: #dc3535;
  --genderMale: #2d46b9;
  --genderFemale: #f037a5;
  --genderNeutral: #21aa93;
  --rarityCommon: #6a492b;
  --rarityRare: #a13333;
  --rarityEpic: #a31acb;
  --rarityLegendary: #e27802;
  --itemType: #4a772f;
  --goodAura: #21aa93;
  --evilAura: #dc3535;
  --unknownAura: #ff884b;
  --randomAura: #a31acb;
  --positive: "#4A772F";
  --negative: "#DC3535";
}

:where(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

:where(:root, body, #root, #__next) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:where(#__next > main) {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
}

*:focus-visible {
  outline: 2px solid black !important;
}

:where(a) {
  text-decoration: none;
}

:where(ul) {
  list-style: none;
}
