@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --brandMain: #fe55b9;
  --fontMain: #000000;
  --fontSecondary: #ffffff;
  --backgroundMain: #ffffff;
  --backgroundSecondary: #efefef;
  --backgroundTertiary: #979797;
  --costInGold: #ff884b;
  --costInRoses: #dc3535;
  --genderMale: #2d46b9;
  --genderFemale: #f037a5;
  --genderNetural: #21aa93;
  --rarityCommon: #6a492b;
  --rarityRare: #a13333;
  --rarityEpic: #a31acb;
  --rarityLegendary: #e27802;
  --itemType: #4a772f;
}

:root,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif !important;
  min-width: 360px;
  min-height: 100dvh;
}

#__next > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  min-height: 100dvh;
}

:where(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*:focus-visible {
  outline: 2px solid black !important;
}

:where(a) {
  text-decoration: none;
}

:where(ul) {
  list-style: none;
}
