.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--brandMain);
  color: var(--fontMain);
  font-weight: bold;
  padding: 0.5rem;
  z-index: 99;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .color-mode {
    margin-left: auto;
  }

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1.25rem;
  }

  a {
    border-radius: 4px;
    padding: 0 0.5rem;
    text-align: center;
    transition: background-color 0.25s linear;

    &.game::after {
      content: "\2197";
      margin-left: 0.25rem;
    }

    &:hover {
      background-color: var(--backgroundMain);
    }
  }

  .popup-menu-container {
    display: none;
  }

  @media (max-width: 1024px) {
    .static-menu {
      display: none;
    }

    .popup-menu-container {
      display: initial;
      position: relative;
    }

    .popup-menu {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
      position: absolute;
      right: 0;
      top: 40px;
      background-color: var(--brandMain);
      border-radius: 4px;
      box-shadow: 0 0 16px black;
      width: max-content;

      a:not(:last-of-type) {
        border-bottom: 1px solid var(--backgroundMain);
        border-radius: 0;
      }
    }
  }
}
