.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--brandMain);
  color: var(--fontMain);
  padding: 1rem;
  width: 100%;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}
